<div class="list-group-flush">
  <a href="/admin/users" class="list-group-item list-group-item-action active">
    Users
  </a>
  <a href="" class="list-group-item list-group-item-action">Chats</a>
  <a href="#" class="list-group-item list-group-item-action">Group Chats</a>
  <a href="#" class="list-group-item list-group-item-action">Recover Website</a>
</div>
