<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Awesome Chat</title>
    <link
      rel="shortcut icon"
      href="/images/logo_favicon/favicon-trungquandev.png"
    />

    <link
      rel="stylesheet"
      href="/bower_components/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/bower_components/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/bower_components/AlertifyJS/build/css/alertify.css"
    />

    <link href="/css/auth.css" rel="stylesheet" />

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/AlertifyJS/build/alertify.js"></script>

    <script src="/js/authConfig.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 my-content">
        <div class="row">
          <div class="box">
            <div class="content">
              <div class="division">
                <div class="line l"></div>
                <span>Nhập mật khẩu mới</span>
                <div class="line r"></div>
              </div>
              <div class="error"></div>
              <div class="form resetPassword">
                <form
                  method="POST"
                  action="/reset-password/<%- token %>"
                  onsubmit="return submit_reset_password_form()"
                >
                  <h4><%- email %></h4>
                  <input type="hidden" name="token" value="<%- token %>" />

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      name="password"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      id="password"
                    />
                  </div>
                  <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input
                      name="confirm-password"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      id="confirmPassword"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    function submit_reset_password_form() {
      let password = document.getElementById("password").value;
      let confirmPassword = document.getElementById("confirmPassword").value;
      console.log(password);
      console.log(confirmPassword);
      if (password != confirmPassword) {
        alert("password does not match");
        return false;
      }
    }
  </script>
</html>
